.bodyPage {
    display: flex;
    flex-direction: row;
  }
  .contentPage {
      margin-left: 5em;
      width: 100%;
  }
  .h1Page {
    margin: 30px 0 0 0;
    font-size: 48px;
    font-weight: 600;
  }
  .h1PageName {
    color: #FF0101;
  }
  .paragH1 {
    font-size: 18px;
    margin-top: 20px;
  }
  .placementPage {

  }
  .container {
display: flex;
flex-direction: row;
  }
  .containerGraphs {
    display: flex;
    flex-direction: column;
    max-width: 800px;
  }
  .containerBarChart {
    margin-top: 50px;
margin-bottom: 20px;
  }
  .containerDownGraphs {
    display: flex;
flex-direction: row;
justify-content: space-between;
  }