.bodyPage {
    display: flex;
    flex-direction: row;
  }
  .contentPage {
      margin-left: 7em;
  }
  .placementPage {
    width: 100%;
    margin-right: 5.5em;
  }
  .h1Page {
    margin: 30px 0 0 0;
    font-size: 48px;
    font-weight: 600;
  }
  .h1PageName {
    color: #FF0101;
  }
  .paragH1 {
    font-size: 18px;
    margin-top: 20px;
  }
 
  .contentMessageError503 {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: center;
    margin: 15em auto auto auto;
  }
  .messageError503{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: center;
    /* margin: 2em auto auto auto; */
    padding: 20px 20px 20px 20px;
    box-shadow: 0 2px black; 
    font-size: 36px;
    border-radius: 10px 10px 10px 10px;
    background: linear-gradient(96.01deg, rgb(224, 48, 239) 17.48%, rgb(55, 140, 236) 108.64%);
    color: #fff;
  }
  .container {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
  }
  
  .containerGraphs {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
  }
  .containerBarChart {
    /* margin-top: 40px; */
    margin-bottom: 30px;
  }
  .containerDownGraphs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .containerCards {
    /* margin-top: 2em; */
    /* margin-top: 40px; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    /* margin-left: -3em; */
    width: 100%;
    max-width: 280px;
  }

  @media screen and ( max-width: 1420) {
    .contentPage {
      margin-left: 3em;
  }
  }
    
  


  